.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.multiselect {
    height: auto;
    border: 1px solid #3b3f5c;
    color: #009688;
    font-size: 15px;
    padding: 8px 10px;
    letter-spacing: 1px;
    height: calc(1.4em + 1.4rem + 2px);
    padding: .75rem 1.25rem;
    border-radius: 6px;
    background: #1b2e4b;
}



.multiselect.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.multiselect > .title {
    cursor: pointer;
    height: 16px;
}

.multiselect > .title > .text {
    max-width: 130px;
    max-height: 25px;
    display: block;
    float: left;
    overflow: hidden;
    line-height: 1.3em;
}

.multiselect > .title > .expand-icon,
.multiselect > .title > .close-icon {
    float: right;
    border-radius: 50%;
    padding: 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;
    transition: 0.2s;
    display: none;
}

.multiselect.selection > .title > .expand-icon {
    display: none;
}

.multiselect > .title > .expand-icon,
.multiselect.selection > .title > .close-icon {
    display: block;
}

.multiselect > .title > .close-icon:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgb(203, 32, 32);
    color: #fff;
}

.multiselect > .container1 {
    max-height: 100px;
    overflow: auto;
    margin-top: 17px;
    margin-left: -20px;
    width: 200px;
    transition: 0.2s;
    position: absolute;
    z-index: 99;
    background: #1b2e4b;
}

.multiselect.active > .container1 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 0;
}

.multiselect:hover > .container1 {
    border-top-color: rgba(0, 0, 0, 0.3);
}

.multiselect.active:hover > .container1 {
    border-color: rgba(0, 0, 0, 0.3);
}

.multiselect > .container1 > option {
    display: none;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.multiselect > .container1 > option.selected {
    background: rgb(122, 175, 233);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
}

.multiselect > .container1 > option:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #000;
}

.multiselect.active > .container1 > option {
    display: block;
}
